

                <div class="mdtitle">
                    <div class="mdimage">
                        <a page="en/contact.html" href="${currentPage.name}.html">
                            <img src="/content/dam/capstone/en/homepagecolumnimages/tech.png" />
                        </a>
                    </div>
                    <a page="en/contact.html" href="${currentPage.name}.html">
                        Contact Us
                    </a>
                    <h4><p>we will help you!</p></h4>
                </div>
                <div class="mdisi">

                        

                                
                                <div id="mdisi-small">
                                    <div class="mdisi-image"></div>

                                            Email: info@xumak.com

                                </div>
                    
                        

                                
                                <div id="mdisi-small">
                                    <div class="mdisi-image"></div>

                                            Phone: +1.213.232.3366

                                </div>
                    
                        

                                
                                <div id="mdisi-small">
                                    <div class="mdisi-image"></div>

                                            Fax: +1.213.947.4032

                                </div>
                    
                        


                            
                            <div id="mdisi-small">
                                <div class="mdisi-image"></div>Follow us on: 
                                <a class="twitter" href="http://www.twitter.com/TeamXumaK" target="_blank"><img src="/content/dam/capstone/twitter.png" /></a>
                                <a class="fb" href="http://www.facebook.com/XumaK" target="_blank"><img src="/content/dam/capstone/fb.png" /></a>
                            </div>
                    
                        

                                
                                <div id="mdisi-small">
                                    <div class="mdisi-image"></div>

                                        <a page="en/contact.html" href="${currentPage.name}.html">

                                            USA & Latin America

                                        </a>

                                </div>
                    
                    
                </div>
            