<div id="footer-copy2" style="position:absolute;">
                                            <div style="float:left; position:absolute;top:-10px;">

                                                <div data-sly-use.hi="${'com.adobe.aemtraining.capstone.core.Hi' @ text='Some text'}">
												${hi.currentMsg}
												</div>

                                                
                                            </div>
                                            <a page="en/about_xumak/xumak_becomes_a_cq5_adobe_authorized_training_center_aatc.html" href="${currentPage.name}.html"></a> <p style="float:left; vertical-align:bottom">Copyright &copy; 2003 - 2012 XumaK, LLC. All right reserved |&nbsp;USA &amp;&nbsp;Latin America&nbsp;|&nbsp;<a page="en/contact.html" href="${currentPage.name}.html">CONTACT&nbsp;US</a></p> 
                                        </div>